.sidebar {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 988;
}

.sidebar-link {
  color: #fff;
  margin: 1rem 0;
  text-decoration: none;
}

.sidebar-icon {
  width: 64px;
  /* Ajuste selon la taille souhaitée */
  height: 64px;
  object-fit: contain;
}
